nav{
  display: flex;
  gap:20px;
  background-color: black;
  color:white;
  padding:20px; 
}
nav a{
  color:white;
  text-decoration: none;
}
.container{
  padding:1rem 4rem;
}
*{
  margin:0;
  padding:0;
}